</div>
                </form>
                <!-- <button id="rzp-button1">Pay with Razorpay</button> -->
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

 


    <%- include('../layouts/footer.ejs'); -%>

    <script>

            let orderData='<%=JSON.stringify(order)%>'
             console.log(orderData)
            orderData=JSON.parse(orderData.replace(/&#34;/g, '"'));
            $(document).ready(()=>{
                if(orderData){
                    x()
                }
            })
            console.log(orderData)

            var options = {
    "key": "rzp_test_XAmcvH8COqaYws", // Enter the Key ID generated from the Dashboard
    "amount": orderData.amount*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "STAR BOY",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": orderData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
     success()
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
// document.getElementById('rzp-button1').onclick = function(e){
    function x(){
    rzp1.open();
    e.preventDefault();
}
function success(){
 $.ajax({
    type:"GET",
    url:"/razorpay",
    contentType:'application/json',
    success:function(datas){
        console.log('khjghg');
        console.log(datas)

        location.href=`/orderSuccess?id=${datas.orderData._id}`
    }
 })

}
    </script>




<script type="text/javascript">
    function validateForm() {
      // Get the values entered by the user
      var name = document.getElementById("name").value;
      var brand = document.getElementById("brand").value;
      var description = document.getElementById("description").value;
      var price = parseFloat(document.getElementById("price").value);
      var quantity = document.getElementById("stock").value;
      var sizes = document.querySelectorAll('input[name="size"]:checked');
      var file = document.getElementById("fileToUpload");

      // Validate the values
      if (name == "" || brand == "" || description == "" || price == "" || isNaN(price) || price <= 0 || quantity == "" || sizes.length == 0 || file.value == "") {
        // Display a SweetAlert error message
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Please fill in all required fields and select an image and enter price value greater than 0',
        });
        return false;
      }

      // Validate the file extension
      var extension = file.value.split('.').pop().toLowerCase();
      if (extension != "jpg" && extension != "jpeg" && extension != "png" && extension != "gif" && extension != "webp") {
        // Display a SweetAlert error message
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Please select a valid image file (JPG, PNG or GIF)',
        });
        return false;
      }

      // If everything is valid, return true to submit the form
      return true;
    }
  </script>